<head>
    <title><%= data.title %></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://cdn.c.aliimg.com/fdevlib/css/lofty/port/lofty.css">
    <style type="text/css">
        .row-fluid {
            width: 100%;
            *zoom: 1;
        }
        .row-fluid:before,
        .row-fluid:after {
            display: table;
            content: "";
        }
        .row-fluid:after {
            clear: both;
        }
        .row-fluid > [class*="span"] {
            float: left;
            margin-left: 2.564102564%;
        }
        .row-fluid > [class*="span"]:first-child {
            margin-left: 0;
        }
        .row-fluid > .span12 {
            width: 100%;
            float: none;
        }
        .row-fluid > .span11 {
            width: 91.45299145300001%;
        }
        .row-fluid > .span10 {
            width: 82.905982906%;
        }
        .row-fluid > .span9 {
            width: 74.358974359%;
        }
        .row-fluid > .span8 {
            width: 65.81196581200001%;
        }
        .row-fluid > .span7 {
            width: 57.264957265%;
        }
        .row-fluid > .span6 {
            width: 48.717948718%;
        }
        .row-fluid > .span5 {
            width: 40.170940171000005%;
        }
        .row-fluid > .span4 {
            width: 31.623931624%;
        }
        .row-fluid > .span3 {
            width: 23.076923077%;
        }
        .row-fluid > .span2 {
            width: 14.529914530000001%;
        }
        .row-fluid > .span1 {
            width: 5.982905983%;
        }
    </style>

</head>