<a href="javascript:;" class="<%if(data.isCurrent){%> active <%}%> <%= data.type %>" data-id="<%= data.id %>">
    <%= data.name %>
    <input type="hidden" value="<%= data.path %>" class="path" />
</a>