<details>
    <summary>内容</summary>
    <div class="item">
        <label>文本内容:</label>
        <input type="text" placeholder="文本内容" value="<%= data.textContent %>" style="width: 100px;" data-type="textContent">
    </div>
</details>