<details data-type="grid">
    <summary>栅格</summary>
    <div class="item">
        <label>宽度:</label>
        <select data-type="widthType">
            <option value="1" <% if(data.grid.widthType == '1'){ %> selected <%}%>>1</option>
            <option value="2" <% if(data.grid.widthType == '2'){ %> selected <%}%>>2</option>
            <option value="3" <% if(data.grid.widthType == '3'){ %> selected <%}%>>3</option>
            <option value="4" <% if(data.grid.widthType == '4'){ %> selected <%}%>>4</option>
            <option value="5" <% if(data.grid.widthType == '5'){ %> selected <%}%>>5</option>
            <option value="6" <% if(data.grid.widthType == '6'){ %> selected <%}%>>6</option>
            <option value="7" <% if(data.grid.widthType == '7'){ %> selected <%}%>>7</option>
            <option value="8" <% if(data.grid.widthType == '8'){ %> selected <%}%>>8</option>
            <option value="9" <% if(data.grid.widthType == '9'){ %> selected <%}%>>9</option>
            <option value="10" <% if(data.grid.widthType == '10'){ %> selected <%}%>>10</option>
            <option value="11" <% if(data.grid.widthType == '11'){ %> selected <%}%>>11</option>
            <option value="12" <% if(data.grid.widthType == '12'){ %> selected <%}%>>12</option>
        </select>
    </div>
</details>