<details>
    <summary>图片属性</summary>
    <div class="item">
        <label>alt:</label>
        <input type="text" placeholder="文案" value="<%= data.alt %>" data-type="x">
    </div>
    <div class="item">
        <label>路径:</label>
        <input type="text" value="<%= data.src %>" style="width: 200px;" placeholder="图片地址" data-type="src">
    </div>
</details>