<details>
    <summary>容器</summary>
    <div class="item">
        <label>宽:</label>
        <input type="text" placeholder="auto    " value="<%= data.width %>"  data-type="width">
    </div>
    <div class="item">
        <label>高:</label>
        <input type="text" placeholder="auto" value="<%= data.height %>"  data-type="height">
    </div>
</details>